* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 978px;
    margin: 0 auto;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid rgba(151,151,151,0.5);
}

header .header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header .header-left-top img {
    width: 80px;
    vertical-align: bottom;
    margin-right: 5px;
}

header .header-left-top span {
    font-size: 19px;
    font-weight: 600;
    color: #5f6368;
}

header .header-left-bottom ul>li{
    float: left;
    list-style: none;
    margin-right: 40px;
    margin-bottom: 10px;
}

header .header-left-bottom ul>li>a {
    text-decoration: none;
    color: #5f6368;
    font-size: 15px;
    font-weight: 600;
}

header .header-left-bottom ul>li>a.selected {
    padding-bottom: 8px;
    border-bottom: 3px solid #3367d6;
    color: #3367d6;
}

header .header-right {
    align-self: flex-end;
    flex-direction: column;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
}

header .header-right img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}

main {
    padding-top: 200px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #3c4043;
}

main .faq p {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0,0,0,0.87);
    line-height: 22px;
}

main .faq {
    margin-bottom: 80px;
}
